@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';
@import 'src/sass/theme';
.wrapper{
  height: 100%;
  overflow: auto;
  .left{
    position: relative;
    width: 230px;
    float: left;
    .title{
          position: sticky;
          top: 0;
          z-index: 10;
          background-color: #2a2b30;
    }
  margin-top: 70px;
  padding-left: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
      height: calc(100% - 70px);
  }
  .right{
    width: calc(100% - 230px);
    float: left;
    height: 100%;
    min-width: 360px;
  }
}

.fname{
  text-align: center;
}
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
.card {
  width: 219px;
  min-height: 400px;
  margin-top: 24px;
  &:hover{
    background-color: mat-color($primary);
    color: white;
    a,
    .mat-card-title,
   .heading .heading-value {
      color: #fff;
    }
  }
}

 .mat-card-image{
  margin: 0 auto;
  max-height: 55%;
  background-color: lightgrey;
  &:first-child{
    margin-top: 0;
  }
}

.mat-card-title{
  margin-top: 8px;
  font-weight: bold;
  color: mat-color($primary);
}

.heading{
  font-weight: bold;
  .heading-value{
    font-weight: normal;
  color: mat-color($primary);
  font-size: 0.9em;
  }
}




.pages-stack {
  z-index: 100;
  pointer-events: none;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% -50%;
  perspective-origin: 50% -50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}



.simplebar-scroll-content {
  overflow-x: hidden!important;
  overflow-y: scroll;
  min-width: 100%!important;
  max-height: inherit!important;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
}

.simplebar-content {
  overflow-y: hidden!important;
  overflow-x: scroll;
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  min-height: 100%!important;
}



.page {
  position: relative;
  z-index: 5;
  overflow: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background: #2a2b30;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  padding: 24px;
}


@media screen and (max-width: 700px) {
  .wrapper {
    overflow-x: hidden;
    .left {
      width: 100%;
      overflow: unset;
      padding-bottom: 16px;
      height: auto;
    }

    .right {
      width: 100%;
      height: auto;
      min-width: 360px;
    }
  }

}
